<div>
  <form [formGroup]="form" (submit)="handleSubmit()">
    <label for="name">Subscription Name</label>
    <input
      formControlName="name"
      type="text"
      placeholder="Subscription name.."
    />

    <p
      *ngIf="
        form.controls.name.touched &&
        form.controls.name.dirty &&
        form.controls.name.errors?.required
      "
      class="error"
    >
      Subscription Name is required
    </p>

    <p
      *ngIf="
        form.controls.name.touched &&
        form.controls.name.dirty &&
        form.controls.name.errors?.maxlength
      "
      class="error"
    >
      Subscription Name is too long.
    </p>

    <p
      *ngIf="
        form.controls.name.touched &&
        form.controls.name.dirty &&
        form.controls.name.errors?.minlength
      "
      class="error"
    >
      Subscription Name is too short.
    </p>

    <label for="plan">Plan:</label>
    <select name="plan_id" formControlName="plan_id">
      <option *ngFor="let p of plans" [value]="p.id"
        >{{ p.id }} - {{ p.period }} - {{ p.interval }}</option
      >
    </select>

    <label for="name">Count</label>
    <input
      type="number"
      placeholder="Total Count"
      formControlName="total_count"
    />

    <label for="name">Start At</label>
    <input type="number" placeholder="Start At" formControlName="start_at" />

    <div formGroupName="notes">
      <label for="notes">Notes</label>
      <input
        type="text"
        placeholder="Subscription name.."
        formControlName="notes_key"
      />
    </div>

    <div
      formArrayName="addons"
      *ngFor="let addon of form.get('addons').controls; let i = index"
    >
      <div [formGroupName]="i">
        <div formGroupName="item">
          <label for="notes">Name</label>
          <input type="text" formControlName="name" />
          <label for="notes">Amount</label>
          <input type="text" formControlName="amount" />
          <label for="notes">Currency</label>
          <input type="text" formControlName="currency" />
        </div>
      </div>
    </div>

    <button type="button" (click)="addAddon()">ADD ADDON</button>
    <input type="submit" value="Submit" [disabled]="!form.valid" />
  </form>
</div>
