<div>
  <form [formGroup]="form" (submit)="handleSubmit()">
    <label for="name">Subscription Name</label>
    <input
      formControlName="subscriptionName"
      type="text"
      placeholder="Subscription name.."
    />

    <p
      *ngIf="
        form.controls.subscriptionName.touched &&
        form.controls.subscriptionName.dirty &&
        form.controls.subscriptionName.errors?.required
      "
      class="error"
    >
      Subscription Name is required
    </p>

    <p
      *ngIf="
        form.controls.subscriptionName.touched &&
        form.controls.subscriptionName.dirty &&
        form.controls.subscriptionName.errors?.maxlength
      "
      class="error"
    >
      Subscription Name is too long.
    </p>

    <p
      *ngIf="
        form.controls.subscriptionName.touched &&
        form.controls.subscriptionName.dirty &&
        form.controls.subscriptionName.errors?.minlength
      "
      class="error"
    >
      Subscription Name is too short.
    </p>

    <!--
      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        name="lastname"
        placeholder="Your last name.."
      />
  
      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
  
      -->
    <input type="submit" value="Submit" [disabled]="!form.valid" />
  </form>
</div>
